*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: rgb(2, 2, 20);
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
    /* height: 40vw; */
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: black;
    width: 100%;
    position: fixed;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:rgb(191, 148, 231);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after{
    width: 100%;
}

nav ul li a:hover {
    color: rgb(174, 233, 233);
    font-size: 1.02rem;
    box-shadow: 0 0 30px aqua;
}

.rule {
    border: 0;
    background-color:rgb(174, 233, 233);
    height: 1.2px;
    margin: 40px 40px;
}
.left img{
    width: 10px;
}

/* -----------------------------------ABOUT------------------------------------------ */

#about{
    padding: 40px 0;
    color: #ababab;
    /* height: 35vw; */
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    margin-top: 40px;
    height: 40vw;
}
.about-col-1 img{
    margin-top: 50px;
    width: 70%;
    height: 50%;/

}
.pic{
    /* padding-top: 50px; */
    width: 70%;
    height: 70%;
    /* height: 40%; */
    /* margin-top: 83px; */
    /* margin-left: 40px; */
    /* aspect-ratio: auto; */
    /* padding: 20px 0px; */
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(88, 233, 233);
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-weight: 600;
    color: white;
    font-size: 1.7rem;
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p{
    color: aquamarine;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after{
width: 50%;
}
.tab-contains ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.tab-contains ul h4{
    color: #ff004f;
}
.tab-contains.active-tab span{
    font-size: 20px;
    color:aqua;
}

.tab-contains ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contains ul li span{
    color: #e793ae;
    font-size:14px ;
}
.tab-contains{
    display: none;
}
.tab-contains.active-tab{
display: block;
}



/* ------------------------------------------------------------------------------------ */
.left {
    margin: 10px 10px;
}

.left img{
    width: 20%;
}

.firstsection  {
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* margin: 50px 0; */
    margin-left: -20px;
    height: 35vw;
    padding-top: 40px;
    margin-top: 50px;

}

.firstsection>div {
    /* width: 35%; */
    flex-basis: 35%;
}

.leftsection {
    font-size: 3rem;
}

.btn{
    padding: 8px;
    background: rgb(69, 69, 228);
    color:rgb(226, 247, 247);
    border: 2px solid black;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}


.firstsection .leftsection {
    margin: 35px 0;
}

.rightsection img {
    width: 70%;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px rgb(88, 233, 233);
}

.firstsection .stly {
    color: rgb(51, 51, 168);
}

.text-gray{
   color: rgb(194, 173, 173);
}

.vertical-title{
    color:aqua;
    position: relative;
    top: 73px;
    right: 46px;
    width: 160px;
}

.vertical-desc{
    position: relative;
    color: rgb(168, 153, 182);
    font-size: 10px;
    top: 87px;
    right: 40px;
    width: 150px;
}
.secondsection{
    height: 40vw;
}

#element {
    color: rgb(51, 51, 168);
}

.thirdsection{
    max-width: 80vw;
    /* margin: auto; */
    height: 25vw;
}

.thirdsection h1{
    font-size: 1.7rem;
}

.thirdsection .box{
    background-color: white;
    width: 72vw;
    height: 2px;
    margin: 60px 0;
    display: flex;
}

.thirdsection .vertical{
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
}

.image{
    width: 23px;
    position: relative;
    top: -25px;
    right: 10px;
    aspect-ratio: 3.2/3;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(6, 6, 31);
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style: none;
    margin: 0 23px;
}
/* -------------------------------------Contact------------------------------- */
.fifthsection{
    margin-top: 40px;
}
.contact-left{
    flex-basis: 35% ;
}

.contact-right{
    flex-basis: 60%;
    margin-top: 45px;
}

.contact-left p{
    margin-top: 40px;
}
.contact-left p i{
    color:blueviolet;
    margin-right: 15px;
    font-size: 15px;
}

.social-icons{
    margin-top: 50px;
}
.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color:blueviolet;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a :hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    margin-top: 22px;
    margin-left: 15px;
    width: 100px;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 70%;
    border: 0;
    outline: none;
    background-color: rgb(43,31,31);
    background:rgb(43,31,31);
    padding: 10px;
    margin: 10px 0;
    color:white;
    font-size: 12px;
    border-radius: 6px;
    display: inline-block;

}
form input, ::first-letter{
    text-transform:capitalize;
}

form textarea {
    font-size: 17px;
}

.contact-right .btn.btn2{
    margin-left: 180px;
    margin-top: 10px;
}

.btn.btn2:hover{
    background: #f52a6a;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: rgb(6, 6, 31);
    margin-top: 40px;
}
/* ----------------------------------------------------------projects--------------------------------------- */

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 50px #ff004f;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.8s;

}

.layer h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height:60px;
    border-radius: 50%;

}

.work:hover img{
    transform:scale(1.1) ;
}

.work:hover .layer{
    height: 100%;
}

.btn3{
    display: block;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    border: 1px solid #ff004f;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn3:hover{
    background: #ff004f;
}

#msg{
    color: aqua;
    margin-top: -60px;
    display: block;
    margin-left: 20px;
}

.thirdsection{
    height: 40vw;
}
.fourthsection{
    padding: 60px 0;
    height: 45vw;
}
.fifthsection{
    padding: 40px 0;
    height: 40vw;
}
/* --------------------------------------------css for small screen--------------------------- */
 .btn3,.btn:hover{
   animation: animate 1s linear infinite;
}
.about-col-1 img{
    /* animation: animate 1s linear infinite; */
}
@keyframes animate{
100% {
    filter: hue-rotate(360deg);
}
}
@media only screen and (max-width: 600px){
    
}
